#bg1 {
    background-color: #202020;
}

.titulo {
    color: rgb(66, 184, 66);
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    text-shadow: 1px 1px 6px rgb(66, 184, 66);
    text-align: center;
}

.hr1 {
    width: 50%;
    border-color: rgb(66, 184, 66);
    height: 2vh;
}

.hr3 {
    width: 50%;
    border-color: rgb(66, 184, 66);
}

.footer-lg{
    padding-right: 1.5rem;
}

.pad {
    padding-top: 3vh;
}

.logoFooter {
    width: 150px;
    height: 140px;
}

.logos {
    width: 36px;
    height: 36px;
}

.contenedor {
    padding: 20px;
}

.titulo2 {
    color: rgb(30, 204, 38);
}

.footer {
    padding-bottom: 10px;
}

.sombra {
    text-shadow: 1px 1px black;
}

.hover:hover {
    transform: scale(1.05, 1.05);
    ;
    -webkit-transform: scale(1.05, 1.05);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.05, 1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.card {
    background-color: lightgray;
}

.menuDespl:hover{
    background-color: green;
    color: floralwhite;
}


.colorFondo:hover{
    background-color: darkgreen;
    border-radius: 3px;
}

/* filtrar */

.filtro{
    padding-left: 80%;
}

.filtrado{
    color: black;
}

.filtrado:hover{
text-decoration: none;
list-style: none;
}

.box-img{
    width: 50%;
    padding: 3px;
    height: 50%;
}

.galeria {
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    padding: 3px;
}

.a{
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 600px){
    .ocultar-div{
        display: none;
    }
}

@media screen and (max-width: 388px){
    .menu{
        padding-left: 10%;
    }
}